.page{
    border-radius: 100%;
text-align:center; 

padding: 5px;
background-color: yellow;
width:min-content;
height:min-content;
bottom: 5px;
right: 100px;
padding-right: 1px;
   }
.top-left 
{
    position: absolute;
    top: 8px;
    left: 120px;
}
.top-right {
position: absolute;
top: 8px;
right: 135px;
}
.bullet{
list-style-type: none;
}
.bottom-right {
position:absolute;
bottom: 1px;
right: 150px;
padding-right: 1px;

}
.bottom{
    border-radius: 100%;
text-align:center; 

padding-top: 5px;
background-color: yellow;
width:min-content;
height:min-content;
position:absolute;
bottom: 65px;
right: 150px;
padding-right: 1px;
}
.name{
border: 5px;
text-align:right;
padding:5px;
background-color:red;
width:max-content;
color: azure;
border-radius:10% 20%;
}